@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap');


*{
    margin:0;
   
}
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-weight: 500;
    letter-spacing: .4vh;
    font-size: 10vh;
    text-align: center;
    color:#372D21;
}

h3{
    font-size: 3.5vh;
    padding-bottom:.8vh;
    padding-top:1vh;
}

h4{
    font-size: 2.2vh;
    padding-top:.6vh;
    padding-bottom:.6vh;
    font-weight: 600;
}

em{
    font-size: 2.2vh;
    font-weight: 600;
}

.titles{
    margin:auto;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight:600;
    font-size: 7.5vh;;
    letter-spacing: .3vh;
    word-spacing: .5vh;
    color:#372D21;
    padding:3.5vh;
}


/* NAV STYLES */
.icon{
    width:5vh;
    flex:1;
    padding-left:2.5vh;
    transition: width .2s ease-in-out;
    padding-top:.2vh;
}

#nav {
	width:100%;
	position: fixed;
	display: flex;
    flex-direction: row;
	z-index: 1;
    align-items: center;
    justify-content: center;
    padding-top:2.5vh;
    padding-bottom:2.5vh;
    transition: box-shadow .3s;
    background-color: #F4EEE7;
    
}

#nav:hover{
    box-shadow: 0 .4vh 2vh rgb(222, 212, 199);
}

.main{
    padding-right:2.5vh;
}

.nav-links {
	padding-left: 2.5vh;
    padding-right:2.5vh;
	text-decoration: none;
    font-size: 4.2vh;
    font-weight: 600;
    letter-spacing: .4vh;
    font-family: 'Amatic SC', cursive;
    color:#372D21;
    transition: all .2s ease-in-out;
    transition: text-decoration .2s;
}

.nav-links:hover{ 
    text-decoration: dotted underline #372D21 .3vh;
}


@media(max-width:60vh){
    .nav-links {
        padding: .8vh;
        font-size: 3vh;
    }
    .icon{
        width:3.8vh;
    }
    #nav{
        padding-top:1vh;
        padding-bottom:1vh;
    }
}

/* NAV STYLES*/

/* HOME STYLES */

#home{
    background-color: #F4EEE7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.home-photo{
    width:47vh;
    max-width:100%;
    height:auto;
    padding-top:10vh;
    display:block;
    margin:auto;
}

/* HOME STYLES */

/* ABOUT STYLES */
#about{
    padding-top: 12vh;
    background-color: #C0CFB2;
    height: fit-content;
    padding-bottom: 12vh;
}

.about{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-me-container{
    max-width: 75vh;
}

.about-text{
    background-color: #F4EEE7;
    color:#1d1812;
    padding: 2vh;
    border-radius: 2vh;

    font-family: 'Thasadith', sans-serif;    
    font-weight:300;
    font-size: 2.9vh;
    line-height: 1.4;
    
    transition: all .2s;
    box-shadow: 1vh 1vh 2vh rgb(72, 89, 72);
    margin:3vh;
    margin-left:6vh;
    margin-right:6vh; 
}


.about-text:hover{
    background-color:rgb(72, 89, 72);
    color:white;
    box-shadow: 1vh 1vh 2vh rgb(41, 53, 41);
}


.about-pic-container{
    align-items: center; 
}

.about-image{ 
    height:56vh;
    border-style: solid;
    border-width: 2vh;
    border-radius: 2vh;
    border-color: white;
    box-shadow: 1vh 1vh 2vh rgb(72, 89, 72);
    margin:3vh;
    margin-left:5vh;
    margin-right:5vh;
}
/* ABOUT STYLES */


/* PROJECT STYLES */
#project{
    padding-top: 12vh;
    background-color: #ebe1d7;
    height:fit-content;
    padding-bottom: 16vh;
}

.code-container{
    min-width:38vh;
    max-width:100vh;
    margin:auto;
    padding-left: 4vh;
    padding-right:4vh;
    padding-bottom: 5vh;
    padding-top: 2vh;
    color:#D9D9D9; 
}
.code-para{
    margin-left:2vh;
    margin-right:2vh;
    padding: 2vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9vh;
    background-color: #202020;
    border-style: solid;
    border-radius: 2vh;
    border-color: #AFBEA0;
    border-width: 1.8vh;
    height: 28vh;
    overflow: scroll;
    color:#D9D9D9;
    box-shadow: 1vh 1vh 2vh #9c9084;
}

@media(max-width: 60vh){
    .code-para{
        font-size: .6vh;
    }
    .indent-1{
        margin-left:.3vh;
    }
    .indent-2{
        margin-left:.8vh;
    }  
}

.indent-1{
    margin-left:4vh;
}

.indent-2{
    margin-left:8vh;
}

.highlight-orange{
    color:orange;
}

.highlight-purple {
    color:rgb(168, 104, 180);
}
.code-links{
    color:rgb(168, 104, 180);
}

.highlight-blue{
    color:rgb(113, 135, 236);
}
.highlight-green{
    color:rgb(121, 199, 121);
}

.highlight-gray{
    color: gray;
}

.grid{
    padding-top: 3vh;
    min-width:20vh;
    max-width:130vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 8vh;
    padding-right: 8vh;
    margin: auto;
    column-gap: 8vh;
    row-gap:8vh;
}

@media(max-width: 140vh){
    .grid{
        grid-template-columns: 1fr 1fr;
    }  
}

@media(max-width: 95vh){
    .grid{
        grid-template-columns: 1fr;
    }  
}

.box{
    position:relative;
    text-align: center;
    background-color: #C0CFB2;
    border-radius: 2vh;
    padding: 3vh;
    transition: all .2s;
    display:flex;
    justify-content:center;
    box-shadow: 1vh 1vh 2vh #9c9084;
}

/* .content{
    font-family: 'Thasadith', sans-serif;    
    font-weight:300;
    padding-left: 1.5vh;
    padding-right:1.5vh;
    position:absolute;
    text-align: center;
    visibility:hidden;
    transition: visibility 1s;
    display:inline-block;
    margin-top:.5vh;
    color:#1d1812;
}
 */
.content{
    font-family: 'Thasadith', sans-serif;    
    font-weight:300;
    padding-left: 1.5vh;
    padding-right:1.5vh;
    position:absolute;
    text-align: center;
    content-visibility:hidden;
    transition: content-visibility visibility 1s;
    display:inline-block;
    margin-top:.5vh;
    color:#1d1812;
	@@ -354,16 +354,10 @@ em{
    opacity: 0.4;
}
.box:hover .content{
     content-visibility: visible;
     opacity:1;
}
@media(max-width: 95vh){
     visibility:hidden;
    .box:hover .content{
	 visibility: visible;
	 opacity:1;
    }
}

.box:hover {
    opacity:0.8;
}
.box:hover .ant{
    opacity: .15;
}
.box:hover .graph {
    opacity: 0.5;
}
.box:hover .map{
    opacity: 0.3;
}
.box:hover .laptop{
    opacity: 0.3;
}
.box:hover .university{
    opacity: 0.3;
}
.box:hover .blog {
    opacity: 0.4;
}
.box:hover .content{
     visibility: visible;
     opacity:1;
}


.grid-links{
    font-family: 'Thasadith', sans-serif;   
    font-weight: 600;
    text-decoration:wavy;
    color:#1d1812;
}

.ant{
    max-width:22vh;
    width:100%; 
}

.graph{
    max-width:24vh;
    width:100%;
    margin-top:1.5vh;
    padding-top:1vh;
    padding-bottom:1vh;
}

.map{
    max-width:35vh;
    margin-top:1.1vh;
    width:100%;
    padding-top:1.3vh;
    padding-bottom:1.3vh;
}

.laptop{
    margin:.2vh;
    max-width:30vh;
    min-width:15vh;
    width:100%;
    padding-top:.8vh;
    padding-bottom:1vh;
    opacity: 0.9;
}

.university{
    margin:.5vh;
    min-height:10vh;
    max-width:28vh;
    width:100%;
    padding-top:1vh;
    padding-bottom:1vh;
    opacity: 0.9;
}

.blog{
    margin:.5vh;
    max-width:28vh;
    width:100%;
    padding-top:1vh;
    padding-bottom:1vh;
    opacity: 0.8;
}
/* PROJECT STYLES */


/* CONTACT STYLES  */
#contact{
    background-color: rgb(252, 250, 248);
}
.label {
    display: block;
    font-family: 'Amatic SC', cursive;
    padding-bottom: .6vh;
    font-size: 3vh;
    letter-spacing: .3vh;
    font-weight: 600;
    text-align: center;
    color:#1d1812
  }
  
input, textarea {
    background-color: #F4EEE7;
    border-radius: 2vh;
    border: none;
    font-size: 1.9vh;
    font-family: 'Thasadith', sans-serif;   
    display: block;
    width:96%;
    padding: 1.2vh;
    align-items: center;
    transition: all ease-in-out .3s;
    border-radius: 2vh;
    margin-bottom: 2vh;
    transition: all .2s;
  }
  
  form{
    min-width:70vh;
    margin:auto;
    background-color: #AFBEA0;
    padding:3vh;
    border-radius: 2vh;
    transition: all ease-in-out .3s;
  }

  @media(max-width:80vh){
    form{
        min-width:50vh;
    }
  }
  @media(max-width:60vh){
    form{
        min-width:30vh;
    }
    input, textarea {
        width:91%;
    }
  }

  #contact{
    padding-top: 12vh;
    padding-bottom: 12vh;
    padding-left: 6vh;
    padding-right: 6vh;
  }

 .contact{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .button{
    border:none;
    background-color: #F4EEE7;
    border-radius: 2vh;
    width:100%;
    margin:auto;
    font-family: 'Amatic SC', cursive;
    font-size: 3vh;
    letter-spacing: .3vh;
    font-weight: 600;
    color:#1d1812;
    padding:1.5vh;
    transition: all .2s;
  }

  input:hover{
    box-shadow: 1vh 1vh 2vh #9fae90;
  }

  textarea:hover{
    box-shadow: 1vh 1vh 2vh #9fae90;
  }
  
  textarea {
    height: 10vh;
    margin-bottom: 3vh;
  }


/* CONTACT STYLES  */


/* FOOTER STYLES  */
.footer{
    background-color: #F4EEE7;
    height:8vh;
    padding:3vh;
    display: block;
}

.foot-text{
    color:#1d1812;
    font-size: 1.9vh;
    font-family: 'Thasadith', sans-serif; 
    text-align: center;
    padding-bottom: 2vh;
}
/* FOOTER STYLES  */
